@import "../../../globalStyles/scss/variables.scss";
.account {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  margin-bottom: 2rem;
  padding-top: 3.55rem;
  background-color: $black;
  @media screen and (max-width: $small-screen) {
    flex-direction: column;
  }

  &__menu {
    width: 360px;
    margin-right: 2rem;
    background-color: $black;


  }

  &__content {
    width: 100%;
    background-color: $black;

  }
}
