@import "../../../../globalStyles/scss/variables.scss";

.password-reset {
  width: 25rem;

  max-width: 100vw;
  background-color: $white;
  margin-top: 3.55rem;
  margin-right: 1rem;


  &__content {
    padding: $spacer;
    color:$black;
  }
}
